
@font-face {
    font-family: 'idroid' ;
    src: url('fontes/idroid.otf') format('opentype'), url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: rgb(132, 225, 173);
}

header{
    background-image: linear-gradient(to bottom, #3ad07d,  rgb(20, 73, 44));
    min-width: 300px;
    max-width: 2000px;
    height: 200px;
    margin-top: -22px;
    margin-left: -8px;
    margin-right: -8px;
}
header >h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 30px;
    text-shadow: rgb(26, 92, 56) 1px 1px 8px;

}
header >p{
    color: white;
    text-align: center;
    text-shadow: rgb(26, 92, 56) 1px 1px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav >a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin-left: 20px;
    
   
    
}
nav >a:hover{
    background-color: rgb(40, 142, 86);
    padding: 10px;
    transition: 300ms;
    color: #3ad07d;
    text-shadow: none;
}

a:hover{
    text-shadow: rgb(96, 223, 113) 1px 1px 2px;

}
   
main{
    background-color: white;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: -21px;
    box-shadow: black 1px 1px 8px;
    border-radius: 0px 0px 8px 8px;
    min-width: 300px;
    max-width: 2000px;
   

    
}


main >h1{
    font-family: idroid;
    color: rgb(52, 107, 76);
    padding-left: 20px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

 h2{
    color: rgb(52, 107, 76);
    background-image: linear-gradient(to right, rgba(15, 190, 91, 0.363), white);
    margin-left: 20px;
    font-family: idroid;
    padding-left: 20px;
}
article#primeiro >p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.imagens{

    width: 100%;
    padding-left: 60px;  

}



iframe{
   
    background-color: rgb(26, 92, 56);
    padding: 50px 50px 50px 50px
}



h3{
    background-color: rgb(47, 168, 102);
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 8px 8px 0px 0px;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main >section{

    background-color: #c5ebd6;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -20px;
    border-radius: 0px 0px 8px 8px;
}

main >section >p{
    padding-top: 20px;
    padding-bottom: 20px;

}

table{
    width: 90%;
    
}

main >p#final{

    padding-bottom: 35px;
}
footer{
    background-color: #1a5c38;
    color: white;
    text-align: center;
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
}

    
    
   


